<!DOCTYPE HTML>
<html>
<head>
    <title>All Coin Combos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Enter Your Info!
</p>
<table id="form-test">
    <tfoot>
    <tr>
        <td>
            <button id="submit-button"> Submit</button>
        </td>
    </tr>
    </tfoot>
    <thead>
    <tr>
        <td>Total Amount</td>
        <td><input type="text" name="coinAmount" value="100"/></td>
    </tr>
    <tr>
        <td>Coin Names</td>
        <td>Coin Values</td>
    </tr>
    </thead>
    <tr>
        <td><input type="text" name="coinNames" value="penny"/></td>
        <td><input type="text" name="coinValues" value="1"/></td>
    </tr>
    <tr>
        <td><input type="text" name="coinNames" value="nickle"/></td>
        <td><input type="text" name="coinValues" value="5"/></td>
    </tr>
    <tr>
        <td><input type="text" name="coinNames" value="dime"/></td>
        <td><input type="text" name="coinValues" value="10"/></td>
    </tr>
    <tr>
        <td><input type="text" name="coinNames" value="quarter"/></td>
        <td><input type="text" name="coinValues" value="25"/></td>
    </tr>
</table>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script src="js/app.js" charset="utf-8"></script>
</body>
</html>
