<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p>
    Hello World!!!
  </p>
  <div id="form-test">
      Coin Name 1<input type="text" name="coinNames"></input>
      Coin Name 2<input type="text" name="coinNames"></input>
      Coin Value 1<input type="text" name="coinValues"></input>
      Coin Value 2<input type="text" name="coinValues"></input>
      Amount<input type="text" name="coinAmount"></input>
      <button id="submit-button">Submit</button>
  </div>
  <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
  <script src="js/app.js" charset="utf-8"></script>
</body>
</html>
